.errorMessage {
  color: var(--red);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* height: 18px;
  margin-top: 5%; */
}


/* //TODO Comentei o tamanho e o gap pq ficou ruim na tela de cadastro */