.slogan {
  color: var(--secondary);
  font-size: 25px;
  font-weight: 600;
}

.sloganRaro {
  color: var(--darker);
  font-size: 28px;
  font-weight: 800;
}

@media (max-width: 1060px) {
  .slogan {
    font-size: 15px;
  }

  .sloganRaro {
    font-size: 15px;
  }
}


@media (max-width: 475px) {
  .slogan {
    font-size: 10px;
  }

  .sloganRaro {
    font-size: 12px;
  }


}