.fomrAndBackButton {
  flex-direction: column;
  display: flex;
  gap: 45px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 3px solid;
  border-color: var(--secondary);
  margin-bottom: 10px;
  overflow-y: auto;
}

.cartFooter {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.avaliateTitle {
  text-align: center;
  font-size: var(--font-size-large);
  font-weight: 700;
  width: 405px;
  color: var(--secondary);
}

.avaliateButton {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
}

.commentAndRating {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.backButton {
  color: var(--secondary);
  font-size: var(--font-size-small);
  cursor: pointer;
}
.nameAndRating {
  display: flex;
  gap: 171px;
  justify-content: center;
}
.selectRating {
  border: none;
  width: 90px;
  height: 25px;
}
.dishName {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--secondary);
}
.imageAndTextContent {
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.errorSelect {
  align-self: center;
  font-size: 12px;
  color: var(--red);
}
