.contentTitle {
  max-width: 500px;
}

.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.inputsContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 4px 0 5px 0;
}
.formContent {
  display: flex;
  flex-direction: column;
}

.linkSignUp {
  color: var(--secondary);
  font-weight: 700;
}

.btn {
  color: var(--secondary);
  font-weight: bold;
  margin-bottom: 24px;
}

.contentInput {
  display: flex;
  gap: 40px;
  width: 100%;
}

.inputNeighborhood {
  border-bottom: 1px solid var(--placeholder);
  width: 100%;
}

.inputNumber {
  border-bottom: 1px solid var(--placeholder);
  width: 20%;
  overflow: hidden;
}

.field {
  background-color: transparent;
  font-size: var(--font-size-extra-small);
  font-weight: 500;
  color: var(--black);
}

.field::placeholder {
  color: var(--placeholder);
}

@media (max-width: 1280px) {
  .contentTitle {
    margin-left: 60px;
  }


}

@media (max-width: 1050px) {

    .loginContent {
      padding: 50px 40px 0 40px;
  }

  .contentTitle {
    margin-left: 0;
  }
}

@media (max-width: 795px) {
  .loginContent {
    width: 100%;
   
    display: flex;
    align-items: flex-start;
  }
  .contentTitle {
    width: 100%;
    margin-left: 0;
  }

  .inputsContent {
    width: 100%;
  }
}

@media (max-width: 595px) {
  .contentInput {
    gap: 20px;
  }

  .fiel {
    width: 100%;
  }
}
