header {
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  z-index: 1000;
}

.rightHeaderContent {
  display: flex;
  align-items: center;
}

.logo > img {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

ul a {
  color: var(--white);
  font-weight: 600;
  font-size: var(--font-size-small);
  transition: transform 0.3s ease;
}

ul a:hover {
  color: var(--secondary);
}

.userContainer {
  display: flex;
  font-size: var(--font-size-ultra-small);
  margin: 0px 35px;
  align-items: center;
}

.username {
  color: var(--white);
  font-weight: 600;
}

nav {
  margin-left: 80px;
}

@media (max-width: 790px) {
  .hamburguerContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 180px;
  }

  .contentCartHamburguer {
    display: flex;
    gap: 18px;
  }

  .rightHeaderContent {
    display: none;
  }

  .menuOpen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 103.5px;
    left: -78px;
    background-color: var(--white);
    box-shadow:
      0px 7px 12px -2px #7a7ea391,
      9px 0px 12px -7px #7a7ea391;
    width: 40%;
    height: 300px;
    z-index: 1;
  }

  ul {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    width: 100%;
    margin-top: 20px;
  }

  ul a {
    padding: 10px 35px;
    color: var(--darker);
  }

  ul li {
    width: 100%;
    border-bottom: 1px solid var(--placeholder);
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px 0;
    transition: transform 0.3s ease;
  }

  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 578px) {
  .hamburguerContent {
    gap: 20px;
  }
}
