.successMessage{
    color: green;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}
.formContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
.ButtonAndMessage{
    display: flex;
    width: 212px;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}