.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: 485px;
  border-bottom: 3px solid;
  border-color: var(--secondary);
  margin-bottom: 10px;
  overflow-y: auto;
}

.button {
  width: 440px;
}

.orderLine {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.chefName {
  font-size: var(--font-size-small);
  font-weight: 600;
  color: var(--secondary);
  margin: 0px 20px;
}

.trashButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.productLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.dishImage {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.imageNamePriceContent {
  display: flex;
  gap: 20px;
}

.nameAndPriceSection {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.dishName {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--secondary);
}
.dishPrice {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--primary);
}
.removeAndProductInfosContent {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dishQtdControl {
  display: flex;
  align-items: center;
  gap: 20px;
}
.qtdText {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--secondary);
}
.removeUnit {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--secondary);
}
.addUnit {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--secondary);
}
.mainContentFooter {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.removeAllText {
  font-size: var(--font-size-extra-small);
  font-weight: 500;
  color: var(--red);
}
.cartFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 445px;
  height: 280px;
}
.totalPriceContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.totalText {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--secondary);
}
.totalPriceText {
  font-size: var(--font-size-large);
  font-weight: 600;
  color: var(--secondary);
}


@media (max-width: 790px) { 
  .mainContent {
    width: 100%;
    height: 50%;
  }

  .cartFooter {
    width: 100%;
    justify-content: flex-start;
  }
}