.cardContainer {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 231px;
  border-radius: 16px;
  border: 1px solid;
  border-image-source: linear-gradient(
    137.55deg,
    #ffffff -45.47%,
    rgba(255, 255, 255, 0) 132.54%
  );
  box-shadow:
    -5px 7px 12px -2px #7a7ea391,
    9px -9px 12px -7px #7a7ea391;
}

.dishImage {
  width: 180px;
  height: 155px;
  border-radius: 16px;
  object-fit: cover;
}

.imageNamePriceContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 11px 12px 0px 12px;
}
.dishName {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: var(--secondary);
}
.dishNamePrice {
  display: flex;
  flex-direction: column;
}
.dishPrice {
  display: flex;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  color: var(--primary);
}

.chefHeartCartContent {
  justify-content: space-between;
  display: flex;
  padding: 0px 12px;
  align-items: center;
  gap: 10px;
}
.chefHeart {
  gap: 10px;
  display: flex;
}

.chefHeart img {
  width: 17px;
}

.chefName {
  align-self: self-end;
  font-size: 10px;
  font-weight: 600;
  text-align: left;
  color: var(--secondary);
}

.cartIcon {
  width: 17px;
  height: 15px;
  border: 2px;
}

.cartButton {
  display: flex;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.likeButton {
  display: flex;
  cursor: pointer;
}

.dishImageButton {
  cursor: pointer;
  display: flex;
}
