.sloganContainer {
  display: flex;
  padding: 60px 142px 173px;
  background-color: var(--white);
}

.sloganContainer > img {
  width: 370px;
  height: 228px;
  padding-left: 100px;
}

.textContainer {
  color: var(--secondary);
}

.title {
  font-size: var(--font-size-super-large);
  font-weight: 700;
  margin-bottom: 20px;
}

.subTitle {
  font-size: var(--font-size-medium);
  font-weight: 600;
}


@media (max-width: 1080px) {
  .img {
    display: none;
  }

  .sloganContainer {
    padding: 0;
  }
}

