footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer > p {
  padding-top: 40px;
  color: var(--darker);
}

.footerIcons {
  padding-top: 45px;
  align-items: center;
  justify-content: center;
}

.footerIcons a {
  color: var(--darker);
  margin: 0px 20px;
}

.footerIcons a:hover svg {
  color: var(--secondary);
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.logoRarotouille {
  width: 200px;
}

.logoRaroAcademy {
  height: 55px;
}

.logosContainer {
  display: flex;
  align-items: flex-end;
  gap: 25px;
  padding-top: 25px;
}

@media (max-width: 798px) {
  .logosContainer {
    flex-direction: column;
  }
}
