.contentDishesList {
  background-color: #fff;
  height: 100vh;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-super-large);
  color: #2e268b;
  text-shadow: 0px 4px 4px rgba(122, 126, 163, 0.51);
  padding: 20px;
}

.dishesList {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  gap: 46px;
  padding: 20px;
  justify-content: center;
}
